@import '~bootstrap/dist/css/bootstrap.css';


/* General Settings */
html,
body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #222;
  color: white;
}

/* Page Layout and Design  */
.wrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px #777;
}

.header {
  display: flex;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  line-height: 60px;
  padding: 0 8px;
}

.footer {
  height: 30px;
  flex-shrink: 0;
  line-height: 30px;
  padding: 0 8px;
  bottom: 0;
  text-align: center;
}

.content {
  border-top: solid 1px #777;
  border-bottom: solid 1px #aaa;
  flex-grow: 1;
  display: flex;
}

.right-col {
  width: 60%;
  flex-grow: 1;
  border-left: solid 1px #777;
  padding: 8px 16px;
}

.left-col {
  width: 15%;
  height: calc(100vh - 90px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}


.left-col-header {
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  border-bottom: solid 1px #777;
  display: flex;
}

.left-col-header div {
  flex-grow: 2;
  padding: 4px 8px;
}

.left-col-content {
  overflow-y: auto;
  max-height: calc(100vh - 90px);
  padding: 0 8px;
}

/* Input Colors Change for Dark Layout */
input { 
  background: #777;
  color: #ddd;
}

/* SideBar Component */
.sidebar { 
  display: flex;
  flex-flow: column wrap;
  width: 250px; 
  /* min-width: 80px; */

  /* padding: 2px; */
  height: calc(100vh - 90px);
  /* min-height: 400px; */
  left: -4px;
  top: 0px;

  overflow: hidden;
}

.sidebar-header { 
  display: flex; 
  flex: flex-flow wrap;
  border-bottom: 1px solid white; 
  padding: 0;
  width: 250px; 
  /* min-width: 80px; */
  

  padding: 2px;
  margin: 15px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;  
  color: #ddd;
}

.sidebar-menu { 
  background: #222; 
  color: #aaa;
}

.sidebar-menuitem:hover { 
  background: #aaa;
  color: #222;
}

/* Company Search Component */

.search-col { 
  width: 30%;
  float: left;
  /* min-width: 80px; */
  height: calc(100vh - 170px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.search-col-header { 
  height: 30px;
  flex-shrink: 0;
  align-items: center;

  display: block;
}

.search { 
  display: flex;
}

.search .input { 
  background: #777;
  color: #ddd;
  margin-right: 10px;
  padding: 5px;
  height: 20px;
}

.search-icon { 
  height: 60px; 
  width: 50px;
  background-color: #bbb;
  display: grid;
  place-items: center;
}

.search-results { 
  margin-top: 5px; 
  width: 325px; 
  height: 300px; 
  box-shadow: rgb(0,0,0,0.45) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  top: 0px;
  background-color: #aaa; 
  color: #222; 
}

.search-results::-webkit-scrollbar { 
  display: none;
}

.search .input-block { 
    display: block; 
    padding: 5px; 
    margin-left: 0px;
    margin-bottom: 5px;
}

.search-results .data-items { 
  width: 100%;
  height: 50px;
  /* display: flex; */
  align-items: center;
   
}

.company-col-content{
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 20vh;
}


/* Company Address Style Sheet */

.company-address-form { 
  width: clac(100vw - 30%);
  display: flex; 
  flex-direction: column wrap;
  flex-grow: 2;
  padding: 2px 0 0 5px; 
  margin: 4px;
}

.company-address-form .input-block { 
  display: block; 
  padding: 5px; 
  margin-left: 5px;
  margin-bottom: 25px;
}

.input-inline { 
  padding: 4px; 
  margin-left: 5px;
  margin-bottom: 25px;
}